<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4 col-sm-10 mx-2 mx-sm-auto text-center">
      <h2 class="mt-5 mb-5">新規登録</h2>

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "アカウント名" %>
    </div>

    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
      </div>
      <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "メールアドレス" %>
    </div>

    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
      </div>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
    </div>

    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-check-circle"></i></span>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード確認" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-info btn-lg btn-block"%>
    </div>
    <% end %>

    </div>
  </div>
</div>
