<div class="container">
<div class="row no-gutters">
  <div class="col-md-4 col-sm-10 mx-2 mx-sm-auto text-center">
    <h2 class="mt-5 mb-5">プロフィール編集</h2>

    <%= form_with model:@user, local:true do |f| %>

    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

    <div class="input-group mb-5">
      <%= f.attachment_field :profile_image, class: "w-100" %>
    </div>

    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <%= f.text_field :name, class: "form-control", autofocus: true, id:"inputName", placeholder:"名前"%>
    </div>

    <%= f.submit "変更を保存", class: "btn btn-warning btn-lg btn-block"%>
    <% end %>

  </div>
</div>
</div>
